In [1]:
## Importing libraries
import pandas as pd
import numpy as np
import os

In [2]:
## creating path
path = r'C:\Users\akul_\OneDrive\Documents\Tarishi\CF Data analysis bootcamp\Achievement 6\Global aqi and respiratory health outcomes'

In [3]:
df_aqi = pd.read_csv(os.path.join(path, 'Data', 'Original data', 'air_quality_health_dataset.csv'))

In [4]:
df_aqi.describe

<bound method NDFrame.describe of               city        date  aqi  pm2_5  pm10   no2    o3  temperature  \
0      Los Angeles  2020-01-01   65   34.0  52.7   2.2  38.5         33.5
1          Beijing  2020-01-02  137   33.7  31.5  36.7  27.5         -1.6
2           London  2020-01-03  266   43.0  59.6  30.4  57.3         36.4
3      Mexico City  2020-01-04  293   33.7  37.9  12.3  42.7         -1.0
4            Delhi  2020-01-05  493   50.3  34.8  31.2  35.6         33.5
...            ...         ...  ...    ...   ...   ...   ...          ...
88484        Tokyo  2262-04-06   22   23.4  53.4  24.3  58.9          9.1
88485        Delhi  2262-04-07  170   48.0  32.4  25.0  15.7          5.6
88486        Delhi  2262-04-08  307   46.7  21.8  31.9  45.1          9.5
88487      Beijing  2262-04-09   65   31.9  26.0  38.1  53.0         17.8
88488  Mexico City  2262-04-10   59   41.8  50.1  31.2  52.0         25.0

       humidity  hospital_admissions population_density  hospital_capacity
0            33                    5              Rural               1337
1            32                    4              Urban               1545
2            25                   10           Suburban               1539
3            67                   10              Urban                552
4            72                    9           Suburban               1631
...         ...                  ...                ...                ...
88484        55                    5           Suburban                419
88485        40                   10              Urban                695
88486        44                   12              Urban                245
88487        46                   11           Suburban               1291
88488        65                    8              Urban                983

[88489 rows x 12 columns]>

# Data cleaning

In [5]:
## check for missing values
print(df_aqi.isnull().sum())

city                   0
date                   0
aqi                    0
pm2_5                  0
pm10                   0
no2                    0
o3                     0
temperature            0
humidity               0
hospital_admissions    0
population_density     0
hospital_capacity      0
dtype: int64

In [6]:
# check for duplicates
duplicates = df_aqi.duplicated()

In [7]:
print(df_aqi[duplicates])

Empty DataFrame
Columns: [city, date, aqi, pm2_5, pm10, no2, o3, temperature, humidity, hospital_admissions, population_density, hospital_capacity]
Index: []

In [8]:
## descriptive statistics
df_aqi.describe()

,aqi,pm2_5,pm10,no2,o3,temperature,humidity,hospital_admissions,hospital_capacity
count,88489.000000,88489.000000,88489.000000,88489.000000,88489.000000,88489.000000,88489.000000,88489.000000,88489.000000
mean,249.370182,35.144951,50.118654,30.006211,39.978895,17.522962,56.950966,8.049385,1024.463165
std,144.479132,14.767994,19.796392,9.963139,12.007258,12.961024,21.629675,3.715458,561.978071
min,0.000000,0.000000,0.000000,0.000000,0.000000,-5.000000,20.000000,0.000000,50.000000
25%,124.000000,24.900000,36.600000,23.300000,31.900000,6.400000,38.000000,6.000000,539.000000
50%,249.000000,35.100000,50.000000,30.000000,40.000000,17.500000,57.000000,8.000000,1026.000000
75%,374.000000,45.200000,63.500000,36.700000,48.100000,28.700000,76.000000,10.000000,1511.000000
max,499.000000,109.900000,143.500000,71.400000,93.500000,40.000000,94.000000,25.000000,1999.000000

In [9]:
## check for data types
df_aqi.dtypes

city                    object
date                    object
aqi                      int64
pm2_5                  float64
pm10                   float64
no2                    float64
o3                     float64
temperature            float64
humidity                 int64
hospital_admissions      int64
population_density      object
hospital_capacity        int64
dtype: object

In [10]:
# convert date into date format
df_aqi['date'] = pd.to_datetime(df_aqi['date'])

In [11]:
df_aqi.dtypes

city                           object
date                   datetime64[ns]
aqi                             int64
pm2_5                         float64
pm10                          float64
no2                           float64
o3                            float64
temperature                   float64
humidity                        int64
hospital_admissions             int64
population_density             object
hospital_capacity               int64
dtype: object

In [15]:
df_aqi_cleaned= df_aqi[df_aqi['date'].dt.year <=2025]

In [16]:
df_aqi_cleaned.head()

,city,date,aqi,pm2_5,pm10,no2,o3,temperature,humidity,hospital_admissions,population_density,hospital_capacity
0,Los Angeles,2020-01-01,65,34.0,52.7,2.2,38.5,33.5,33,5,Rural,1337
1,Beijing,2020-01-02,137,33.7,31.5,36.7,27.5,-1.6,32,4,Urban,1545
2,London,2020-01-03,266,43.0,59.6,30.4,57.3,36.4,25,10,Suburban,1539
3,Mexico City,2020-01-04,293,33.7,37.9,12.3,42.7,-1.0,67,10,Urban,552
4,Delhi,2020-01-05,493,50.3,34.8,31.2,35.6,33.5,72,9,Suburban,1631

In [17]:
print(df_aqi_cleaned['date'].dt.year.min(), df_aqi_cleaned['date'].dt.year.max())

2020 2025

In [19]:
len(df_aqi_cleaned)

2192

In [18]:
## exporting the df
df_aqi_cleaned.to_csv(os.path.join(path, 'Data', 'Prepared data', 'air_quality_cleaned.csv'),index=False)